/* logo-fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

/* text-fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

body{
    scroll-behavior: smooth;
}

/* nav-section */
.logo{
    font-family: "Luckiest Guy", cursive;
    color: #fff;
}
.logo h2{
    font-family: "New Amsterdam", sans-serif;
}

.logo h2{
    font-size: 35px;
}

.logo h3{
    font-size: 15px;
}
header{
    padding: 20px 15%; 
    background-color:  #00008B;
    position: relative;
    display: flex;
    align-items: center;
}
.nav-section{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links{
    display: flex;
    font-family: "New Amsterdam", sans-serif;
}

.nav-links li a{
    margin: 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

.menu-bar i{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* dropdown menu */
.dropdown-menu{
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    display: none;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 240px;
}

.dropdown-menu li{
    padding: 1rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a{
    color: #fff;
    text-decoration: none;
}


/* RESPONSIVE DESIGN  */
@media (max-width: 992px){
    .nav-links{
        display: none;
    }

    
    .menu-bar i{
        display: flex;
    }

    .dropdown-menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}


/* end of nav-section  */

/* hero-section */
.hero-secton{
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.3)),url('./image/oil.webp');
    background-position: center;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 15%;
}

.hero-secton .hero-text{
    color: #fff;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    text-align: center;
}

.hero-secton .hero-text h1{
    font-size: 5rem;
    font-family: "New Amsterdam", sans-serif;
    
}

.hero-secton .hero-text p{
    width: 50%;
    font-size: 18px;
    margin: 0 auto;
}

.hero-secton .hero-text .btn{
    padding-top: 3rem;
    
}

.hero-secton .hero-text .btn a{
    background: #00008B;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    font-family: "New Amsterdam", sans-serif;
    font-size: 1.5rem;
}


.hero-secton .hero-text .btn a:hover{
    background: #fff;
    color: #000;
   
    transition: ease-in-out .3s;
}

/* RESPONSIVE DESIGN  */
@media (max-width: 1108px) {
    .hero-secton .hero-text{
        padding-top: 3rem;
    }
}

@media (max-width: 1015px){
    .hero-secton {
        height: 80vh;
    }

    .hero-secton .hero-text p{
        width: 80%;
        font-size: 18px;
    }
    
}

@media (max-width: 880px){
    .hero-secton .hero-text p{
        width: 80%;
        font-size: 16px;
    }

    .hero-secton .hero-text h1{
        font-size: 4rem;        
    }

    .hero-secton {
        height: 40vh;
    }
}


@media (max-width: 740px){
    .hero-secton .hero-text p{
        width: 80%;
        font-size: 14px;
    }

    .hero-secton .hero-text h1{
        font-size: 3.5rem;        
    }

    .hero-secton {
        height: 60vh;
    }
}

@media (max-width: 490px){
    .hero-secton .hero-text p{
        width: 80%;
        font-size: 14px;
    }

    .hero-secton .hero-text h1{
        font-size: 3.5rem;        
    }

    .hero-secton {
        height: 65vh;
    }

    .hero-secton{
        padding: 15px 10%;
    }

    header{
        padding: 15px 10%;
    }
}

@media (max-width: 430px){
    .hero-secton .hero-text p{
        width: 100%;
        font-size: 14px;
    }

    .hero-secton .hero-text h1{
        font-size: 3.5rem;  
        text-align: center;      
    }

    .hero-secton {
        height: 70vh;
    }

    .hero-secton{
        padding: 15px 10%;
        text-align: center;
    }

    header{
        padding: 15px 10%;
    }

}

/* SERVICES SECTION */

.services-section{
    text-align: center;
    height: 120vh;
    margin-top: 2rem;
}
.services-text{
    padding-top: 1rem;
}
.services-text h3{
    font-size: 14px;
    color: #00008B;
}

.services-text h2{
    font-size: 20px;
    padding-top: .5rem;
}


.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    height: 70vh;
}

.card img{
    width: 100%;
    height: 200px;
}

.card-content{
    padding: 16px;
}

.crd-content h3{
    font-size: 23px;
    margin-bottom: 8px;
}

.card-content p{
    color: #757575;
    font-size: 15px;
    line-height: 1.3;
    margin: 15px 0;
}
.about-heading hr{
    border: none;
    width: 120px;
    height: 5px;
    background: #00008B;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card-container .cta-btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #00008B;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;

}


/* RESPONSIVE DESIGN  */
@media (max-width: 1108px) {
    .services-section{
        text-align: center;
        height: 180vh;
        margin-top: 2rem;
    }
}

@media (max-width: 1015px){

    
}

@media (max-width: 880px){

    .services-section{
        height: 110vh;
    }

    .card {
        height: 60vw;
    }

}


@media (max-width: 740px){
    .services-section{
        height: 230vh;
    }
    .card {
        height: 90vw;
    }
}

@media (max-width: 490px){
    .services-section{
        height: 200vh;
    }

    .card {
        height: 120vw;
    }

    .services-section{
        height: 450vw;
    }
}

@media (max-width: 430px){
    
    .card {
        height: 120vw;
        }

        .services-section{
            height: 450vw;
        }

}



/* ABOUT PAGE */

.about-page{
    height: 100vh;
    padding: 0 15%;
    background: #f0f0f0;
}

.about-heading{
    font-weight: 400;
    font-size: 40px;
    color: #00008B;
    margin-bottom: 20px;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    padding: 6rem 0;
    gap: 5rem;

}

.about-content .image img{
    width: 100%;
    height: 400px;
    border-radius: 10px 200px 10px 100px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.about-text {
    width: 70%;
}

.about-text a{
    text-decoration: none;
    color: #00008B;
}

.about-btn{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    
}

.about-btn i{
   color: #00008B;
}

.about-text p{
    width: 150%;
}

/* RESPONSIVE DESIGN  */
@media (max-width: 1108px) {
    .about-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        flex-direction: row-reverse;
        padding: 6rem 0;
        gap: 5rem;
    
    }


    .about-page{
        height: 130vh;
        padding: 0 15%;
        background: #f0f0f0;
    }
}

@media (max-width: 1015px){

    
}

@media (max-width: 840px){
    .about-page{
        height: 90vh;
    }
}


@media (max-width: 740px){
    .about-page{
        height: 110vh;
        padding: 0 15%;
        background: #f0f0f0;
    }

    .about-content .image img{
        width: 70vw;
        height: 300px;
    }
}

@media (max-width: 490px){
    .about-content .image img{
        display: none;
    }

    .about-content{
        padding: 2rem 0;
    
    }

    .about-page{
        height: 65vh;
        padding: 0 15%;
        background: #f0f0f0;
    }

    .about-heading{
        font-size: 25px;
    }
}

@media (max-width: 430px){
    .about-heading{
        font-size: 25px;
    }

    .about-page{
        height: 90vh;
        padding: 0 15%;
        background: #f0f0f0;
    }

}


/* CONTACT SECTION */

.contact-section{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 8rem;
    padding: 2rem 15%;
}

.left-contact img{
    height: 400px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.right-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.right-content-title {
    font-weight: 400;
    font-size: 40px;
    color: #00008B;
    margin-bottom: 20px;
}

.right-content-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background: #00008B;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-input{
    width: 400px;
    height: 50px;
    outline: none;
    border: 2px solid #00008B;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    
}

.right-content textarea{
    height: 140px;
    border-radius: 20px;
    padding: 15px;
}

.contact-input:focus{
    border: 3px solid #00008B;
}

.contact-input::placeholder{
    color: #a9a9a9;
}

.right-content button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(270deg, #6868e8, #00008B);
    border: none;
    cursor: pointer;
}



/* RESPONSIVE DESIGN  */
@media (max-width: 1108px) {
    .contact-input{
        width: 80vw;
     }
}

@media (max-width: 1015px){
    .contact-input{
        width: 80vw;
     }
    
}

@media (max-width: 880px){
    .contact-input{
        width: 80vw;
     }

     
     .contact-section{
        padding: 0 10%;
        height: 60vh;
       }
}


@media (max-width: 740px){
    .contact-input{
        width: 80vw;
     }

     .contact-section{
        padding: 0 10%;
        height: 100vh;
       }
}

@media (max-width: 490px){
    .contact-input{
        width: 80vw;
     }

     .contact-section{
        padding: 0 10%;
        height: 150vw;
       }

       .right-content-title {
        font-size: 25px;
       }
}

@media (max-width: 430px){
   .contact-input{
      width: 80vw;
   }
   
   .contact-section{
    padding: 0 10%;
    height: 150vw;
   }

   .right-content-title {
     font-size: 25px;
    }

}


/* FOOTER SECTION */

.footer-section{
    background: #f0f0f0;
    height: 50vh;
    padding: 20px 15%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo{
    margin: 1.5rem 0;
    color: #00008B;
}

.contact-info h2{
    margin: 1.5rem 0;
}

.contact-info p{
    margin: 1rem 0;
    color: #757575;
    
}

.contact-info h3{
    color: #666565;
}

.quick-links h2{
    margin: 1.5rem 0;
}

.quick-links ul li{
    margin: 1rem 0 ;
}

.quick-links ul li a{
    color: #757575;
    text-decoration: none;
}

.quick-links ul li a:hover{
    color: #2b2a2a;
    transition: all .2s;
}


/* RESPONSIVE DESIGN  */
@media (max-width: 1108px) {
    
}

@media (max-width: 1015px){
   
    
}

@media (max-width: 880px){
    .footer-section{
        height: 60vh;
    }
}


@media (max-width: 740px){
    .footer-section{
        height: 80vh;
        padding: 20px 10%;
    }
}

@media (max-width: 490px){
    .footer-section{
        height: 100vh;
        padding: 20px 10%;
    }
}

@media (max-width: 430px){
    .footer-section{
        height: 100vh;
    }
}
